@import './variables.module.less';

.container {
  padding: 8px 16px;
  background: inherit;
  border-top: 1px solid @divider-color;
  overflow-x: auto;

  color: #8C8C8C;
  line-height: 20px;
  font-size: 12px;
  white-space: nowrap;

  @media (max-width: @screen-md) {
    padding: 6px 16px;
  }
}

.item {
  color: @cr-gray-3;
}