@import './variables.module.less';

.hamburgerButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;

  width: 28px;
  height: 28px;

  background: #FFFFFF;

  border: 1px solid #D9D9D9;
  border-radius: 2px;
}