@import './variables.module.less';

.search {
  width: 169px;

  @media (max-width: @screen-sm) {
    width: 100%;
  }

  :global(.ant-select-selector) {
    height: 34px !important;
  }
}

.placeholderMagnifier {
  color: var(--cr-secondary-text);
  margin-right: 3px;
}

.placeholderText {
  color: @cr-gray-7;
}

.coinOption {
  padding-left: 12px;

  img {
    height: 20px;
    width: 20px;
  }
}

.coinName {
  margin-left: 10px;
}

.coinSymbol {
  margin-left: 5px;
  color: @cr-gray-7;
}

.categoryOption {
  padding-left: 12px;
}